@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #202020;
}
.text-second {
  color: #646464;
}
.profile-bg {
  background-color: #e8e8e8;
}
.link-container {
  @apply rounded-lg flex justify-between items-center text-primary bg-primary-background px-6 py-5;
}
.text-primary-one {
  @apply text-primary;
}
.bg-primary-one {
  @apply bg-primary-background;
}
.border-primary-one {
  @apply border-primary;
}
.bg-gray-one {
  @apply bg-gray-100;
}
.bg-svg-one {
  @apply bg-[url('/static/bg_light.svg')];
}
.nav-link {
  @apply text-primary;
  &-selected {
    @apply bg-[#BEC1FF];
  }
}
.text-gold {
  color: #f2bd65 !important;
}

[data-theme="dark"] {
  body {
    color: #eeeeee;
  }
  .text-second {
    color: #b4b4b4;
  }
  .profile-bg {
    background-color: #2a2a2a;
  }
  .link-container {
    @apply rounded-lg bg-primary px-6 py-5 text-white flex justify-between items-center;
  }
  .text-primary-one {
    @apply text-[#D3D5FF];
  }
  .bg-primary-one {
    @apply bg-primary;
  }
  .border-primary-one {
    @apply border-primary-background;
  }
  .bg-gray-one {
    @apply bg-[#2F2F2F];
  }
  .bg-svg-one {
    @apply bg-[url('/static/bg_dark.svg')];
  }
  .nav-link {
    @apply text-white;
    &-selected {
      @apply bg-[#252CD0];
    }
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
